/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#eef5ff;
    color:#333;
}

/* Header */
header{
    background:linear-gradient(135deg,#0d6efd,#00b4d8);
    color:#fff;
    text-align:center;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

header h2{
    font-size:30px;
    font-weight:600;
}

/* Container */
.container{
    width:90%;
    max-width:900px;
    margin:30px auto;
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.container h3{
    text-align:center;
    color:#0d6efd;
    margin-bottom:20px;
}

/* Labels */
label{
    display:block;
    margin-top:15px;
    font-weight:600;
}

/* Input Fields */
input,
select{
    width:100%;
    padding:12px;
    margin-top:8px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
    transition:0.3s;
}

input:focus,
select:focus{
    border-color:#0d6efd;
    outline:none;
    box-shadow:0 0 8px rgba(13,110,253,.3);
}

/* Buttons */
button{
    width:100%;
    margin-top:20px;
    padding:12px;
    background:#0d6efd;
    color:#fff;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#084298;
    transform:scale(1.02);
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:30px;
}

table th{
    background:#0d6efd;
    color:#fff;
    padding:12px;
}

table td{
    padding:12px;
    text-align:center;
    border:1px solid #ddd;
}

table tr:nth-child(even){
    background:#f8f9fa;
}

table tr:hover{
    background:#e7f1ff;
}

/* Delete Button */
td button{
    width:auto;
    background:#dc3545;
    padding:8px 15px;
    font-size:14px;
}

td button:hover{
    background:#b02a37;
}

/* Responsive */
@media (max-width:768px){

    .container{
        width:95%;
        padding:15px;
    }

    header h2{
        font-size:22px;
    }

    table{
        font-size:14px;
    }

    input,
    select,
    button{
        font-size:14px;
    }
}
